[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
requests = "*"
lxml = "*"
yfinance = {extras = ["nospam", "repair"], version = "*"}
secedgar = {git = "https://github.com/sec-edgar/sec-edgar.git"}
pandas-datareader = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
matplotlib = "*"
pylint = "*"
sec-edgar-downloader = "*"

[dev-packages]

[requires]
python_version = "3.12"
