#VERSION=0.1
name: CI

on: push

jobs:
  pylint:
    name: Pylint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - uses: actions/setup-python@v5
        with:
            python-version: '3.11'

      - run: python -m pip install --upgrade pipenv wheel # pylint

      - id: cache-pipenv
        uses: actions/cache@v4.0.2
        with:
          path: ~/.local/share/virtualenvs
          key: ${{ runner.os }}-pipenv-${{ hashFiles('**/Pipfile.lock') }}

      - name: Install dependencies
        if: steps.cache-pipenv.outputs.cache-hit != 'true'
        run: |
          pipenv install

      - run: pipenv run pylint **/*.py

  # shellcheck:
  #   name: ShellCheck
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@master

  #     - name: Run ShellCheck
  #       uses: ludeeus/action-shellcheck@master
